<template>
  <div>
    <nav class="navbar navbar-light bg-light">
      
        <input class="form-control mr-sm" id="order_input"  type="search" placeholder="Search" @input="getOrderById" aria-label="Search"  v-model="order_id">
         
    </nav>
            
<div style="display:flex;width:100%;" class="order-card">
    <form>
        <div style="width:100%;">
            <p>ORDER ID: {{this.order_id}}</p>
            
        </div>
        <div style="width:100%;">
            <p>BILLING PROFILE: {{this.billingProfile}}</p>
        </div>
         <div style="width:100%;">
            <p>BILLING PROFILE'S NAME: {{this.clientsName}}</p>
        </div>

          <div v-for="item in this.products" :key="item" style="width:100%;" >
            <p>PRODUCT NAME: {{item.title}}</p>
            <p>PRODUCT PRICE: {{item.price}}</p>
            <p>PRODUCT DESCRIPTION: {{item.description}}</p>
        </div>
      
        <div style="width:100%;">
            <p>ADDRESS: {{this.addressLine1}}, {{this.addressLine2}}</p>
        </div>
        
        <div style="width:47%;">
            <p>CITY: {{this.city}}</p>
        </div>

        <div style="width:47%;">
            <p>COUTNRY: {{this.country}}</p>
        </div>
  <div style="width:100%;">
            <p>SHIPPING PRICE: {{this.shippingPrice}}</p>
        </div>
        <div style="width:47%;">
            <p>SUBTOTAL: {{this.subtotal}}</p>
        </div>
        <div style="width:47%;margin-left:6%">
            <p>TOTAL:{{this.total}}</p>
        </div>


        <button class="btn btn-primary" id="order-btn">print</button>
        <a>gobazar.com</a>
    </form> 
</div>

  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
// import HelloWorld from './components/HelloWorld.vue'
// import axios from 'axios'

export default {
  name: 'app',
  data (){
    return {
      info: '',
      order_id: '',
      billingProfile: '',
      clientsName:'',
      addressLine1:'',
      addressLine2:'',
      city:'',
      country:'',
      products:'',
      shippingPrice:'',
      subtotal:'',
      total:'',

    }
    
  },
  components: {
    // HelloWorld
  },
  mounted(){
    this.getOrder();

  },
 methods: {
       getOrderById(){
       
     this.$http.get(`http://localhost:8000/orders/api/${this.order_id}/`).then(response => {
       this.info = response.data
       this.clientsName = response.data["shipping_address"]["name"]
       this.billingProfile = response.data["billing_profile"]
       this.addressLine1 = response.data["shipping_address"]["address_line_1"]
       this.addressLine2 = response.data["shipping_address"]["address_line_2"]

       this.city = response.data["shipping_address"]["city"]
       this.country = response.data["shipping_address"]["country"]
       this.products = response.data["cart"]["products"]
       this.shippingPrice = response.data["shipping_total"]
       this.subtotal = response.data["cart"]["subtotal"]
       this.total = response.data["cart"]["total"]
      //  console.log(thics.info)
     }

     );
     },
         getOrder(){
       
     this.$http.get(`http://localhost:8000/orders/api/${this.order_id}`).then(response => {
       this.info = response.data.data
      //  console.log(this.info)
     }

     );
     },
}
}

 
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#order_input{
  width: 400px;
  margin: 0 auto;
}

.btn {
  margin-left: 150px;
}
  
   
   .order-card{
     margin-top: 20px;
   }

   input:focus{
        outline: none;
    }
    
    form{
        width: 35%;
        margin-left:auto;
        margin-right:auto;
        padding:50px;
        background:whitesmoke;
        border-radius:5px;
        position:relative;
        font-family: 'Libre Franklin', sans-serif;
    }

    form > div {
        float:left;
        margin-bottom:30px;
    }
    form > div > p{
        font-size: 12px;margin-bottom: 3px;
    }
    form > div > input{
        font-size:12px;letter-spacing:1px;padding:  5px;border: 0;background:  whitesmoke;border-bottom: 1px solid silver;width: 100%;color: gray;
    }

    form > p:last-of-type{
        text-align: center;padding-top: 50px;display:  table;width: 100%;color:white;
    }

    form > p:last-of-type > a{
        cursor:pointer;border:0;
        padding: 10px 25px;
        background:  silver;
        border-radius:  28px;
        font-size: 12px; 
    }

    .term{
        padding-top:40px;display: flex;width:  100%;align-items:  center;
    }

    .term > i{
        cursor:pointer;width:20px;
    }

    .term > span{
        font-size:12px;
    }

    /* delete */
    form > a:last-of-type{
        position:absolute;
        bottom: 10px;
        right: 15px;
        font-size:  10px;
        letter-spacing:  1px;
        font-style: italic;
    }

</style>
